<%- include("partials/head.ejs") -%>
  <body>
    <%- include("partials/navbar.ejs") -%>
    <h1><%= title %></h1>
    <% if(allAuthors.length < 1) { %>
        <p>There are no authors.</p>
    <% } else {%>
       <% allAuthors.forEach(author => {%>
          <li>
            <a href=<%= author.url %>><%= author.name %></a>
            <span><%= author.lifespan %></span>
          </li>
      <% }) %>
    <% } %>
    </div>
    </div>
    </div>
  </body>
</html>