<%- include("partials/head.ejs") -%>
  <body>
    <%- include("partials/navbar.ejs") -%>
    <h1><%= title %></h1>
    <% if(allBooks.length < 1) { %>
      <p>There are no books.</p>
    <% } else { %>
      <ul>
        <% allBooks.forEach(book => { %>
          <li>
            <a href=<%= book.url %>><%= book.title %></a> 
            <span>(<%= book.author.name %>)</span> 
          </li>
        <% }) %>
      </ul>
    <% } %>
  </div>
  </div>
  </div>
  </body>
</html>