<%- include("partials/head.ejs") -%>
  <body>
    <%- include("partials/navbar.ejs") -%>
    <h1><%= title %></h1>
    <p><strong>Do you really want to delete this book instance</strong></p>
    <div style="margin-left: 20px;">
      <p><strong>ID: </strong><%= instance._id %></p>
      <p><strong>Title: </strong><a href="<%= instance.book.url %>"><%= instance.book.title %></a></p>
      <p><strong>Imprint: </strong><%= instance.imprint %></p>
      <p><strong>Status: </strong>
        <% if(instance.status === "Available") { %>
          <span class="text-success"><%= instance.status %></span>
        <% } else if(instance.status === "Maintenance") { %>
          <span class="text-danger"><%= instance.status %></span>
        <% } else { %>
          <span class="text-warning"><%= instance.status %></span>
        <% } %>
      </p>
      <% if(instance.status !== "Available") { %>
        <p><strong>Due back: </strong><%= instance.due_back_formatted %></p>
      <% } %>
    </div>
    <form action="" method="POST">
      <div class="form-group">
        <input type="hidden" id="id" name="id" class="form-control" required value="<%= instance._id %>">
      </div>
      <button type="submit" class="btn btn-danger">Delete</button>
    </form>

    </div>
    </div>
    </div>
  </body>
</html>